name: Build and Deploy Azure Functions Application

on:
  push:
    branches:
      - main
    paths:
      - ".github/workflows/build-deploy-functions-app.yaml"
      - "host.json"
      - "requirements.txt"

env:
  PYTHON_VERSION: "3.11"

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Setup Python version
        uses: actions/setup-python@v5
        with:
          python-version: ${{ env.PYTHON_VERSION }}

      - name: Create and Start Virtual Environment
        run: |
          python -m venv venv
          source venv/bin/activate

      - name: Install Dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt

      - name: Zip Artifact for Deployment
        run: zip test-react-azure-functions.zip ./* -r

      - name: Upload Artifact for Deployment Job
        uses: actions/upload-artifact@v4
        with:
          name: test-react-azure-functions
          path: |
            test-react-azure-functions.zip
            !venv/

  deploy:
    runs-on: ubuntu-latest
    needs: build
    steps:
      - name: Download artifact from build job
        uses: actions/download-artifact@v4
        with:
          name: test-react-azure-functions

      - name: Unzip artifact for deployment
        run: unzip test-react-azure-functions.zip

      - name: Login Azure as Contributor
        uses: azure/login@v2
        with:
          creds: '{"clientId":"${{ vars.AZURE_AD_SP_CONTRIBUTOR_CLIENT_ID }}","clientSecret":"${{ secrets.AZURE_AD_SP_CONTRIBUTOR_CLIENT_SECRET }}","subscriptionId":"${{ vars.AZURE_SUBSCRIPTION_ID }}","tenantId":"${{ vars.AZURE_TENANT_ID }}"}'

      - name: Deploy Azure Functions Application
        uses: Azure/functions-action@v1.5.2
        with:
          app-name: test-react-azure-functions
          package: .
